<div class="container">
	<div class="span6" ng-app="ngStudentsApp" ng-controller="studentsController">
		<div class="span4">
		<input type="text" ng-model="nameFilter" placeholder="Search..."/>
		
		      	<a id="" ng-click="addStudent()" class="btn btn-small">Create Student</a>
		</div>
		<h1>Student List</h1>
  		<table class="table table-striped table-condensed">
    	<thead>
      		<tr><th>ID</th><th>Name</th><th>DOB</th><th></th><th></th></tr>
      		
    	</thead>
    	<tbody>
			<tr ng-repeat="student in studentsList | filter: searchFilter">
		        <td>{{student.id}}</td>
		        <td>{{student.name}}</td>
		        <td>{{student.dob}}</td>
		        <td><a class="btn btn-primary btn-small" ng-click="editStudent(student.id)">Edit</a>
		        <td><a class="btn btn-danger btn-small" ng-click="deleteStudent(student.id)">Delete</a>
      		</tr>
    	</tbody>
  		</table>
  
	</div>
</div>