<div class="container">
    <h1>Create New Student</h1>
    <div class="col-md-6">
    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputName">Name:</label>
            <div class="controls">
                <input type="text" id="inputName" ng-model="student.name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputDOB">DOB:</label>
            <div class="controls">
                <input type="text" id="inputDOB" ng-model="student.dob" placeholder="yyyy-mm-dd"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls" style="margin-top: 10px;">
                <a ng-click="cancel()" class="btn btn-small">cancel</a>
              <!-- user-creation.html: -->
                <a ng-click="createNewStudent()" class="btn btn-small btn-primary">Create New Student</a>
            </div>
        </div>
    </form>
    </div>
    <div class="col-md-6">
    
    	<div ng-class="{'alert-success': MSGType == 'success', 'alert-danger': MSGType == 'error'}"
    	class="alert" role="alert" ng-show="showMSG" >
    		{{msg}}
    	</div>
    </div>
</div>